In [1]:
mylist = [1, 2, 3, 4]
print(mylist)

[1, 2, 3, 4]

In [3]:
type(mylist)

list

In [7]:
# Lists can hold different object types

mylist = ['A string', 23, 100.233, 'o', True ]
print(mylist)

['A string', 23, 100.233, 'o', True]

In [11]:
# Mutability of lists

mylist = [ 1, 2, 3, 4, 5 ]
mylist[0] = 0
mylist

[0, 2, 3, 4, 5]

In [13]:
# len() function returns the length of the list

askname = ["My", "Name", "is", "yourname"]
len(askname)

4

In [15]:
# sum() function returns the sum of the elements of the list 
# sum() function only works with numeric datatypes

newlist = [ 2, 35, 355, 3566, 32 ]
sum(newlist)

3990

In [17]:
# List of marks of students and to find the mean marks of the student

marks = [ 87, 76, 95, 68, 80, 83, 92, 74, 79, 89 ]
meanmarks = sum(marks)/len(marks)
print(meanmarks)

82.3